body {
  display: flex;
  border-radius: 50px;
  background: #f0f0f3;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding-top: 20px;
}

.gothic-a1-regular {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.greeting {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}

#hello {
  color: #000;
  font-family: Gotham;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  padding-top: 10px;
  line-height: normal;
}

#flower {
  width: 29.707px;
  height: 33.008px;
  transform: rotate(-30.525deg);
  fill: #ffb0e5;
  padding-top: 10px;
  padding-right: 50px;
  padding-left: 10px;
}

#switch {
  transform: scale(0.5);
  position: absolute;
  right: 80px;
  width: 62px;
  height: 62px;
  top: 15px;
  padding-top: 20px;
}

#quote-box {
  position: fixed;
  z-index: -1;
  top: 100px;
  left: 30px;
  width: 690px;
  height: 313px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #f0f0f3;
  box-shadow: -10px -10px 10px 0px rgba(255, 255, 255, 0.7) inset,
    10px 10px 10px 0px rgba(174, 174, 205, 0.2) inset;
}

#quote-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  text-align: center;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-content: center;
  color: #656565;
  font-family: "Gothic A1", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 50px;
}

#quote-heart {
  transform: scale(0.9);
  position: fixed;
  top: 285px;
  left: 505px;
  width: 66px;
  height: 66px;
  flex-shrink: 0;
  cursor: pointer;
}

#thumbs-down {
  transform: scale(0.9);
  position: fixed;
  top: 285px;
  left: 580px;
  width: 66px;
  height: 66px;
  flex-shrink: 0;
  cursor: pointer;
}

#reminder-icon {
  width: 16px;
  height: 16px;
}

#reminder-text {
  color: #000;
  font-family: Gotham;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: fixed;
  top: 130px;
  right: 505px;
  transform: scale(0.9);
}

#reminder-component {
  display: flex;
  width: 844px;
  min-height: 64px;
  max-height: 64px;
  padding: var(--py-3, 12px) var(--px-4, 16px);
  flex-direction: column;
  align-items: flex-start;
  border-radius: var(--rounded-lg, 8px);
  background: #f0f0f3;
}

#add-button-reminders {
  width: 46px;
  height: 46px;
  flex-shrink: 0;

  position: fixed;
  top: 100px;
  right: 100px;
  transform: scale(0.9);
}

#reminder-box {
  width: 720px;
  height: 313px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #f0f0f3;
  box-shadow: -10px -10px 10px 0px rgba(255, 255, 255, 0.7) inset,
    10px 10px 10px 0px rgba(174, 174, 205, 0.2) inset;

  position: fixed;
  z-index: -1;
  top: 100px;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-reminders {
  width: 600px;
  padding-top: 55px;
  padding-left: 5px;
  text-align: center;
  color: #656565;
  font-family: "Gothic A1", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
